@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/bgimage.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    margin: 5px;
    padding: 5px;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.heading{
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    margin: 10px;
    background-color: #a237ee;
    background-image: linear-gradient(45deg, #0077ff, #ff5500);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

button{
    padding: 15px;
    margin: 5px;
    width: 79%;
    color: white;
    font-size: 1rem;
    background-color: #0d6efd;
    border: 1px solid #000000;
    border-radius: 10px;
}

button:hover{
    background-color: #6b95d3;
}

button:active{
    background-color:#cfd3da;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top: -2%;
}

form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

input #message{
    height: 400px;
    max-height: 1000px;
}

.form-group{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form-group label{
    padding-left: 3px;
    margin-left: 3px;
    font-size: 20px;
    font-weight: 600;
}
input, textarea{
    padding: 15px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Saira", sans-serif;
    font-size: 16px;
    resize: vertical; /*vertical resizing */
}

textarea{
    min-height: 100px; 
    max-height: 400px;
}

nav{
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
}

nav .links{
  display: flex;
  justify-content: center;
}
nav li {
  font-size: 1.5rem;
  padding: 0 1em;
  margin-bottom: 8px;
}

nav li:first-child {
  margin-right: auto;
}

nav li:last-child{
    margin-left: auto;
}


nav a {
  color: black;
  text-decoration: none;
}

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(55, 55, 55);
  transition: transform 0.35s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}


.menu-btn{
    margin-left: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start; /*align-items aligns the items along the horizontal axis.*/
    justify-content: flex-start; /*justify-content - the items along the vertical axis.*/   
}

.sidebar li{
    padding: 10px;
    margin: 10px; 
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-btn{
    display: none;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .sidebar a{
        color: rgb(0, 0, 0);
    }
}
 
@media(max-width: 470px){
    .sidebar{
        width: 100%;
        height: 100%;
    }

    .sidebar a{
        color: black;
        padding: 2px;  
        height: 20%;
        font-size: 1.5em;
    }
}


.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: inherit;
    cursor: pointer;
}

