@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./assets/bgimage.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    margin: 5px;
    padding: 5px;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



.games {
    display: flex;
    flex-direction: row;
}

.gamesContainer {
    margin: 2rem;
    padding: 10px;
}

.gamesContainer h1 {
    background-color: #a237ee;
    background-image: linear-gradient(45deg, #8a70ef, #68e620);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 3rem;
}

.details {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 2rem;
    font-size: 3rem;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.details img {
    height: 400px;
    width: 400px;
}

.details h3 {
    padding: 5px;
    text-align: center;
}



.gamesOffered h1 {
    font-size: 4rem;
    text-align: center;
    padding: 5px;
    margin: 10px;
    background-color: #a237ee;
    background-image: linear-gradient(45deg, #0077ff, #ff5500);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

nav{
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
}

nav .links{
  display: flex;
  justify-content: center;
}
nav li {
  font-size: 1.5rem;
  padding: 0 1em;
  margin-bottom: 8px;
}

nav li:first-child {
  margin-right: auto;
}

nav li:last-child{
    margin-left: auto;
}


nav a {
  color: black;
  text-decoration: none;
}

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(55, 55, 55);
  transition: transform 0.35s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}


@media (max-width: 854px) {
    .games {
        flex-direction: column;
    }

    .details img {
        height: 14rem;
        width: 14rem;
        padding: 0;
        margin: 0;
        overflow: clip;
    }

}



.menu-btn{
    margin-left: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start; /*align-items aligns the items along the horizontal axis.*/
    justify-content: flex-start; /*justify-content - the items along the vertical axis.*/   
}

.sidebar li{
    padding: 10px;
    margin: 10px; 
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-btn{
    display: none;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .sidebar a{
        color: rgb(0, 0, 0);
    }
}
 
@media(max-width: 470px){
    .sidebar{
        width: 100%;
        height: 100%;
    }

    .sidebar a{
        color: black;
        padding: 2px;  
        height: 20%;
        font-size: 1.5em;
    }
}


.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: inherit;
    cursor: pointer;
}

