<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/static/about.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href=""><img src="/assets/logo.svg" alt=""
                        style="height: 2rem; width: 2rem; position: absolute; bottom: 1;"></a></li>
            <li><a href="/templates/index.html" class="hover-underline">Home</a></li>
            <li><a href="/templates/games.html" class="hover-underline">Other Games</a></li>
            <li><a href="/templates/contact.html" class="hover-underline">Contact</a></li>
            <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1" width="28" height="28" viewBox="0 0 256 256" xml:space="preserve">
                        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                            transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                            <path
                                d="M 87.823 60.7 c -0.463 -0.423 -1.142 -0.506 -1.695 -0.214 c -15.834 8.398 -35.266 2.812 -44.232 -12.718 c -8.966 -15.53 -4.09 -35.149 11.101 -44.665 c 0.531 -0.332 0.796 -0.963 0.661 -1.574 c -0.134 -0.612 -0.638 -1.074 -1.259 -1.153 c -9.843 -1.265 -19.59 0.692 -28.193 5.66 C 13.8 12.041 6.356 21.743 3.246 33.35 S 1.732 57.08 7.741 67.487 c 6.008 10.407 15.709 17.851 27.316 20.961 C 38.933 89.486 42.866 90 46.774 90 c 7.795 0 15.489 -2.044 22.42 -6.046 c 8.601 -4.966 15.171 -12.43 18.997 -21.586 C 88.433 61.79 88.285 61.123 87.823 60.7 z"
                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        </g>
                    </svg></a></li>
        </ul>
    </nav>
    <div class="name">
        <div class="nametext">
            <h1>Hello, My name is Sivaraman.</h1>
            <h3 class="headtext" aria-label="Hi! I'm a developer">
                I'm a&nbsp;<span class="typewriter"></span>
            </h3>

        </div>
        <div class="nameimage">
            <img src="/assets/pfp.png" alt="profile picture of the developer">
        </div>
    </div>
    <div class="aboutMeContainer">
        <div class="aboutMe">
            <div class="aboutMeHeading" id="Academic">
                <h1 style="font-size: 2.5rem;">Academic Details</h1>
            </div>
            <div class="aboutMeItems">
                <div class="aboutMeItem">
                    <p id="ItemDESC">College: SRM Vadapalani</p>
                    <img src="/assets/srm.png" alt="image of SRM vadapalani logo" height="170px" width="170px">
                </div>
                <div class="aboutMeItem">
                    <p>Course:</p>
                    <p class="Item-Desc">CSE</p>
                    <p id="ItemDESC">(AI/ML)</p>
                </div>
                <div class="year-and-semester">
                    <div class="aboutMeItem">
                        <p id="ItemID1">Year: 2</p>
                    </div>
                    <div class="aboutMeItem">
                        <p id="ItemID1">Semester: 3</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="languagesContainer">
            <div class="skills-heading">
                <h1>My Technical Skills</h1>
            </div>
            <div class="languages">
                <div class="detail">HTML</div>
                <div class="detail">CSS</div>
                <div class="detail">JavaScript</div>
                <div class="detail">Python</div>
                <div class="detail">C/C++</div>
                <div class="detail">Java</div>
                <div class="detail">Flask</div>
                <div class="detail">SQLite</div>
                <div class="detail">PostgreSQL</div>
                <div class="detail">Supabase</div>
            </div>
        </div>
        <div class="aboutMe">
            <div class="aboutMeHeading">
                <h1 style="font-size: 2.5rem;">Personal Details</h1>
            </div>
            <div class="aboutMeItems">
                <div class="aboutMeItem">
                    <p>Age</p>
                    <p class="Item-Desc">18</p>
                </div>
                <div class="aboutMeItem">
                    <p>Gender</p>
                    <img src="/assets/male.png" alt="image of the male sex logo" height="80px" width="80px"
                        id="malegender">
                </div>
                <div class="aboutMeItem">
                    <p>City</p>
                    <p class="Item-Desc">Chennai</p>
                </div>
                <div class="aboutMeItem">
                    <p>Country</p>
                    <p class="Item-Desc">India</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>